@font-face {
    font-family: tesla;
    src: url("../fonts/TESLA.ttf");
}
@font-face {
    font-family: ZenKurenaido;
    src: url("../fonts/ZenKurenaido-Regular.ttf");
}
body{ font-family: ZenKurenaido; }
._tmask { font-family: tesla; }

html {
	scroll-behavior: smooth;
}

/* Inicio */
    main {
        height: 100vh;
    }
    #inicio h1{
        font-size: 2rem;
    }
    #inicio h2{
        font-size: 1.3rem;
    }

/* OTRAS CLASES */
    ._bg-dark {
        background-color: #252525;
    }
    ._flex-vertical-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* COMPRAR */
    ._compra-card {
        background-color: #00C6D0;
    }
    ._compra-card img {
        transform: scaleX(-100%);
    }
    ._circle {
        background-image: url("../img/hcircle.png");
        background-size: cover;
        background-position: bottom right;
    }
    ._circle img {
        width: 60%;
    }
    ._buybutton{
        background-color: whitesmoke;
    }
    ._buybutton:hover{
        background-color: #0D6EFD !important;
    }


/* FOOTER */
    ._rrss_list{
        display: flex;
        justify-content: center;
    }
    ._rrss_list img {
        filter: invert(100%);
        cursor: pointer;
    }

/* PRECIO TACHADO */
    ._crossout {
        position: relative;
    }
    ._crossout::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: red;

        display: inline-block;
        transform: translateY(-50%) rotate(-20deg);
        font-size: 18px;
    }





@media (min-width: 768px) {

    #inicio h1{
        font-size: 3.5rem;
    }
    #inicio h2{
        font-size: 2rem;
    }
    
    ._compra-card {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 1rem;
    }

    ._circle {
        background-image: url("../img/vcircle.png");
        background-size: cover;
        background-position: bottom left;
        width: 50%;
    }
    ._circle img {
        width: 60%;
    }

    ._rrss_list{
        justify-content: end;
    }

}
